*.json
*.zip
*.sh
*.csv
*.nii.gz
*.npz
*.npy
*.txt
*.pth
*.log
*.png
*.jpg
#3D
DATASET_Acdc/
3D/DATASET/
DATASET_Tumor.zip
DATASET_Acdc.zip
3D/output*/
3D/pancreas_code/dataset_pancreas/
!3D/pancreas_code/dataset_pancreas/Pancreas/
3D/pancreas_code/model/

#2D
2D/abdomen/data/**
2D/abdomen/model_out/**
2D/abdomen/pretrained_pth/*

2D/skin/check_results/**
2D/skin/model_out/**
2D/skin/pretrained_pth/*

#general
model_zoo/
__pycache__/